body {
  margin: 0;
  background-color: #079cdb;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  text-align: center;
}
.card {
  padding: 7px;
  border-radius: 12px;
  margin-top: 5%;
  display: inline-table;
  padding-left: 2%;
  padding-right: 2%;
  background: white;
  width: 40%;
  transform: translate(0, -6.5px);
  /* -webkit-box-shadow: -1px 1px 35px 5px rgba(0, 0, 0, 0.26);
    box-shadow: -1px 1px 35px 5px rgba(0, 0, 0, 0.26);*/
}
button {
  background-color: #079ddb;
  border-radius: 12px;
  border: none;
  color: #fff;
  padding: 12px;
}

p {
  font-size: larger;
}

.header {
  padding: 7px;
  border-radius: 12px;
  margin-top: 1%;
  display: inline-table;
  padding-left: 2%;
  padding-right: 2%;
  background: white;
  width: 40%;
 
}
.header button{
    background-color: white;
    color: black;
    border-radius: 50px;
    border: solid 2px #079cdb;
    padding: 9px;
    margin-left: 12px;
    margin-right: 12px;
}

@media only screen and (max-width: 1000px) {
  .card {
    width: 80%;
  }
  .header{
      margin-top: 1%;
  }
  .header {
width: 80%;
  }
}
